In [1]:
#https://github.com/NRT23/Bayesian-Neural-Networks-Variational-Inference-and-MC-Dropout
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import scipy
# Pytorch
from collections import OrderedDict
from tqdm import tqdm, trange
plt.style.use('ggplot')
from sklearn.model_selection import StratifiedKFold
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor
from hyperopt import hp, STATUS_OK
from hyperopt import tpe, rand, anneal
from hyperopt import Trials, fmin
import warnings

from sklearn.neural_network import MLPRegressor as mlp

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import math
import sklearn
import sklearn.preprocessing
import datetime
import os
from sklearn.neural_network import MLPRegressor
import matplotlib.pyplot as plt
import tensorflow as tf
from matplotlib import pyplot
from math import sqrt
from numpy import mean
from pandas import read_csv
from sklearn.metrics import mean_squared_error
from math import sqrt
from numpy import array
from numpy import mean
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score as acc
from pandas import DataFrame
from pandas import concat
from pandas import read_csv
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error
import catboost as ctb
from sklearn.gaussian_process.kernels import DotProduct, WhiteKernel
from sklearn.kernel_ridge import KernelRidge
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
import xgboost as xgb
import lightgbm as lgb
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression,ElasticNet,Lasso,Ridge
from sklearn.kernel_ridge import KernelRidge
from sklearn.tree import DecisionTreeRegressor
from hyperopt import hp, STATUS_OK
import hyperopt.pyll.stochastic as hps
from hyperopt import tpe, rand
from hyperopt import Trials, fmin
import warnings
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.base import BaseEstimator, RegressorMixin, TransformerMixin, clone
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
import xgboost as xgb
import lightgbm as lgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF, ConstantKernel as C
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor,ExtraTreesRegressor,BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
from hyperopt import hp, STATUS_OK
from hyperopt import tpe, rand, anneal
from hyperopt import Trials, fmin
import warnings
import os

In [2]:
#https://github.com/NRT23/Bayesian-Neural-Networks-Variational-Inference-and-MC-Dropout
#https://github.com/huyng/incertae
import os
os.chdir("C:\\Users\\SUJANPC\\Documents\\Energies")
%matplotlib inline
import warnings
warnings.simplefilter("ignore")
import numpy
from sklearn.neural_network import *
from pandas import *
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import *

from sklearn.tree import *
from catboost import *
from sklearn.preprocessing import *
import tensorflow.keras.backend as K
import numpy as np
from tensorflow.keras.models import *
from scipy.ndimage import gaussian_filter1d
import seaborn as sns
from tensorflow.keras.optimizers import *
from tensorflow.keras.callbacks import *
from tqdm import tqdm
from sklearn.metrics import *
import TSMETRICS
from tensorflow.keras.layers import *
from tensorflow.keras.layers import *
import time
import optuna
from optuna.study import *
from optuna.trial import *
import math
import datetime
import PIALL
import tensorflow as tf

In [3]:
df= pd.read_excel('1D.xlsx',sheet_name='1D')
df1= df.filter(["Lawnton"])

In [4]:
df2=df1
lag =range(1,12)

for col in df2.columns:
    for l in lag:
        df2.loc[:,col+"_"+str(l)] = df2[col].shift(l)

In [5]:
df2

,Lawnton,Lawnton_1,Lawnton_2,Lawnton_3,Lawnton_4,Lawnton_5,Lawnton_6,Lawnton_7,Lawnton_8,Lawnton_9,Lawnton_10,Lawnton_11
0,764.66443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,722.59390,764.66443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,711.39837,722.59390,764.66443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,719.35118,711.39837,722.59390,764.66443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,737.02343,719.35118,711.39837,722.59390,764.66443,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3648,733.54000,742.83000,632.17000,625.22000,679.68000,605.18,575.17,589.53,582.79,560.37,607.75,710.75
3649,608.77000,733.54000,742.83000,632.17000,625.22000,679.68,605.18,575.17,589.53,582.79,560.37,607.75
3650,645.95000,608.77000,733.54000,742.83000,632.17000,625.22,679.68,605.18,575.17,589.53,582.79,560.37
3651,626.59000,645.95000,608.77000,733.54000,742.83000,632.17,625.22,679.68,605.18,575.17,589.53,582.79
3652,636.57000,626.59000,645.95000,608.77000,733.54000,742.83,632.17,625.22,679.68,605.18,575.17,589.53

In [6]:
df_A= pd.read_excel('1D.xlsx',sheet_name='SILO_Lawnton')
df_A

,YYYY-MM-DD,daily_rain,max_temp,min_temp,vp,vp_deficit,evap_pan,evap_syn,evap_comb,evap_morton_lake,radiation,rh_tmax,rh_tmin,et_short_crop,et_tall_crop,et_morton_actual,et_morton_potential,et_morton_wet
0,2011-07-01,0.8,20.4,10.9,12.2,8.5,2.1,2.7,2.1,2.3,13.5,50.9,93.6,2.2,3.0,1.0,3.6,2.3
1,2011-07-02,0.1,20.7,9.7,12.7,7.9,1.9,2.6,1.9,2.2,13.1,52.0,100.0,2.0,2.8,1.2,3.1,2.2
2,2011-07-03,0.0,19.6,11.2,13.2,6.8,1.9,2.3,1.9,1.9,11.3,57.9,99.3,1.9,2.5,1.0,2.8,1.9
3,2011-07-04,0.6,22.4,9.4,13.6,8.6,2.1,2.9,2.1,2.8,15.4,50.2,100.0,2.3,3.0,2.0,3.6,2.8
4,2011-07-05,0.0,22.3,10.9,12.3,10.3,4.0,3.0,4.0,2.8,15.4,45.7,94.4,2.5,3.5,1.3,4.4,2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,2021-06-26,5.1,18.4,15.4,14.8,5.4,2.0,1.2,2.0,1.2,3.9,70.0,84.6,1.4,2.0,0.6,1.8,1.2
3649,2021-06-27,0.0,20.9,9.9,10.1,10.7,2.7,2.5,2.7,1.9,11.5,40.9,82.9,2.4,3.5,0.3,3.4,1.9
3650,2021-06-28,0.0,21.0,9.0,11.7,8.9,2.0,2.7,2.0,2.2,13.1,47.1,100.0,2.2,3.1,0.9,3.5,2.2
3651,2021-06-29,0.0,21.0,10.6,14.6,6.6,1.4,2.4,1.4,2.0,12.1,58.7,100.0,1.8,2.4,1.6,2.5,2.0
3652,2021-06-30,2.9,21.3,12.8,16.7,5.5,1.0,1.7,1.0,1.7,7.4,66.0,100.0,1.4,1.9,1.5,2.0,1.7

In [7]:
df_B=df_A.drop(['YYYY-MM-DD'], axis=1)
df_B

,daily_rain,max_temp,min_temp,vp,vp_deficit,evap_pan,evap_syn,evap_comb,evap_morton_lake,radiation,rh_tmax,rh_tmin,et_short_crop,et_tall_crop,et_morton_actual,et_morton_potential,et_morton_wet
0,0.8,20.4,10.9,12.2,8.5,2.1,2.7,2.1,2.3,13.5,50.9,93.6,2.2,3.0,1.0,3.6,2.3
1,0.1,20.7,9.7,12.7,7.9,1.9,2.6,1.9,2.2,13.1,52.0,100.0,2.0,2.8,1.2,3.1,2.2
2,0.0,19.6,11.2,13.2,6.8,1.9,2.3,1.9,1.9,11.3,57.9,99.3,1.9,2.5,1.0,2.8,1.9
3,0.6,22.4,9.4,13.6,8.6,2.1,2.9,2.1,2.8,15.4,50.2,100.0,2.3,3.0,2.0,3.6,2.8
4,0.0,22.3,10.9,12.3,10.3,4.0,3.0,4.0,2.8,15.4,45.7,94.4,2.5,3.5,1.3,4.4,2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,5.1,18.4,15.4,14.8,5.4,2.0,1.2,2.0,1.2,3.9,70.0,84.6,1.4,2.0,0.6,1.8,1.2
3649,0.0,20.9,9.9,10.1,10.7,2.7,2.5,2.7,1.9,11.5,40.9,82.9,2.4,3.5,0.3,3.4,1.9
3650,0.0,21.0,9.0,11.7,8.9,2.0,2.7,2.0,2.2,13.1,47.1,100.0,2.2,3.1,0.9,3.5,2.2
3651,0.0,21.0,10.6,14.6,6.6,1.4,2.4,1.4,2.0,12.1,58.7,100.0,1.8,2.4,1.6,2.5,2.0
3652,2.9,21.3,12.8,16.7,5.5,1.0,1.7,1.0,1.7,7.4,66.0,100.0,1.4,1.9,1.5,2.0,1.7

In [8]:
df_C=pd.concat([df2, df_B], axis=1, join='inner')
df_C

,Lawnton,Lawnton_1,Lawnton_2,Lawnton_3,Lawnton_4,Lawnton_5,Lawnton_6,Lawnton_7,Lawnton_8,Lawnton_9,...,evap_comb,evap_morton_lake,radiation,rh_tmax,rh_tmin,et_short_crop,et_tall_crop,et_morton_actual,et_morton_potential,et_morton_wet
0,764.66443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.1,2.3,13.5,50.9,93.6,2.2,3.0,1.0,3.6,2.3
1,722.59390,764.66443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,2.2,13.1,52.0,100.0,2.0,2.8,1.2,3.1,2.2
2,711.39837,722.59390,764.66443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.9,1.9,11.3,57.9,99.3,1.9,2.5,1.0,2.8,1.9
3,719.35118,711.39837,722.59390,764.66443,NaN,NaN,NaN,NaN,NaN,NaN,...,2.1,2.8,15.4,50.2,100.0,2.3,3.0,2.0,3.6,2.8
4,737.02343,719.35118,711.39837,722.59390,764.66443,NaN,NaN,NaN,NaN,NaN,...,4.0,2.8,15.4,45.7,94.4,2.5,3.5,1.3,4.4,2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,733.54000,742.83000,632.17000,625.22000,679.68000,605.18,575.17,589.53,582.79,560.37,...,2.0,1.2,3.9,70.0,84.6,1.4,2.0,0.6,1.8,1.2
3649,608.77000,733.54000,742.83000,632.17000,625.22000,679.68,605.18,575.17,589.53,582.79,...,2.7,1.9,11.5,40.9,82.9,2.4,3.5,0.3,3.4,1.9
3650,645.95000,608.77000,733.54000,742.83000,632.17000,625.22,679.68,605.18,575.17,589.53,...,2.0,2.2,13.1,47.1,100.0,2.2,3.1,0.9,3.5,2.2
3651,626.59000,645.95000,608.77000,733.54000,742.83000,632.17,625.22,679.68,605.18,575.17,...,1.4,2.0,12.1,58.7,100.0,1.8,2.4,1.6,2.5,2.0
3652,636.57000,626.59000,645.95000,608.77000,733.54000,742.83,632.17,625.22,679.68,605.18,...,1.0,1.7,7.4,66.0,100.0,1.4,1.9,1.5,2.0,1.7

In [9]:
df5=df_C.dropna()
df5

,Lawnton,Lawnton_1,Lawnton_2,Lawnton_3,Lawnton_4,Lawnton_5,Lawnton_6,Lawnton_7,Lawnton_8,Lawnton_9,...,evap_comb,evap_morton_lake,radiation,rh_tmax,rh_tmin,et_short_crop,et_tall_crop,et_morton_actual,et_morton_potential,et_morton_wet
11,802.59420,794.06274,786.41470,775.65610,726.38297,758.03919,742.58604,737.02343,719.35118,711.39837,...,2.2,2.6,15.7,34.4,100.0,2.6,3.7,0.8,4.3,2.5
12,793.95350,802.59420,794.06274,786.41470,775.65610,726.38297,758.03919,742.58604,737.02343,719.35118,...,2.6,2.2,13.9,35.2,100.0,2.6,3.7,0.7,3.8,2.2
13,764.25028,793.95350,802.59420,794.06274,786.41470,775.65610,726.38297,758.03919,742.58604,737.02343,...,3.1,2.7,15.2,32.8,79.9,2.9,4.3,0.4,4.9,2.7
14,783.42208,764.25028,793.95350,802.59420,794.06274,786.41470,775.65610,726.38297,758.03919,742.58604,...,2.3,1.0,5.4,43.5,66.8,2.3,3.5,0.2,2.0,1.1
15,794.48470,783.42208,764.25028,793.95350,802.59420,794.06274,786.41470,775.65610,726.38297,758.03919,...,1.0,1.3,5.2,73.4,95.7,1.2,1.6,0.9,1.7,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,733.54000,742.83000,632.17000,625.22000,679.68000,605.18000,575.17000,589.53000,582.79000,560.37000,...,2.0,1.2,3.9,70.0,84.6,1.4,2.0,0.6,1.8,1.2
3649,608.77000,733.54000,742.83000,632.17000,625.22000,679.68000,605.18000,575.17000,589.53000,582.79000,...,2.7,1.9,11.5,40.9,82.9,2.4,3.5,0.3,3.4,1.9
3650,645.95000,608.77000,733.54000,742.83000,632.17000,625.22000,679.68000,605.18000,575.17000,589.53000,...,2.0,2.2,13.1,47.1,100.0,2.2,3.1,0.9,3.5,2.2
3651,626.59000,645.95000,608.77000,733.54000,742.83000,632.17000,625.22000,679.68000,605.18000,575.17000,...,1.4,2.0,12.1,58.7,100.0,1.8,2.4,1.6,2.5,2.0
3652,636.57000,626.59000,645.95000,608.77000,733.54000,742.83000,632.17000,625.22000,679.68000,605.18000,...,1.0,1.7,7.4,66.0,100.0,1.4,1.9,1.5,2.0,1.7

In [10]:
df6=df5
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
column_names_to_not_normalize = ['Lawnton']
column_names_to_normalize = [x for x in list(df6) if x not in column_names_to_not_normalize ]
x = df6[column_names_to_normalize].values
x_scaled = scaler.fit_transform(x)
df_temp = pd.DataFrame(x_scaled, columns=column_names_to_normalize, index = df6.index)
df6[column_names_to_normalize] = df_temp

In [11]:
df6

,Lawnton,Lawnton_1,Lawnton_2,Lawnton_3,Lawnton_4,Lawnton_5,Lawnton_6,Lawnton_7,Lawnton_8,Lawnton_9,...,evap_comb,evap_morton_lake,radiation,rh_tmax,rh_tmin,et_short_crop,et_tall_crop,et_morton_actual,et_morton_potential,et_morton_wet
11,802.59420,0.668720,0.661525,0.651402,0.605044,0.634828,0.620289,0.615055,0.598428,0.590946,...,0.134328,0.214286,0.421603,0.323171,1.000000,0.240000,0.281250,0.103896,0.266129,0.207317
12,793.95350,0.676747,0.668720,0.661525,0.651402,0.605044,0.634828,0.620289,0.615055,0.598428,...,0.164179,0.166667,0.358885,0.332927,1.000000,0.240000,0.281250,0.090909,0.225806,0.170732
13,764.25028,0.668618,0.676747,0.668720,0.661525,0.651402,0.605044,0.634828,0.620289,0.615055,...,0.201493,0.226190,0.404181,0.303659,0.741977,0.280000,0.343750,0.051948,0.314516,0.231707
14,783.42208,0.640671,0.668618,0.676747,0.668720,0.661525,0.651402,0.605044,0.634828,0.620289,...,0.141791,0.023810,0.062718,0.434146,0.573813,0.200000,0.260417,0.025974,0.080645,0.036585
15,794.48470,0.658709,0.640671,0.668618,0.676747,0.668720,0.661525,0.651402,0.605044,0.634828,...,0.044776,0.059524,0.055749,0.798780,0.944801,0.053333,0.062500,0.116883,0.056452,0.060976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,733.54000,0.620518,0.516404,0.509865,0.561103,0.491010,0.462775,0.476286,0.469945,0.448851,...,0.119403,0.047619,0.010453,0.757317,0.802311,0.080000,0.104167,0.077922,0.064516,0.048780
3649,608.77000,0.611778,0.620518,0.516404,0.509865,0.561103,0.491010,0.462775,0.476286,0.469945,...,0.171642,0.130952,0.275261,0.402439,0.780488,0.213333,0.260417,0.038961,0.193548,0.134146
3650,645.95000,0.494388,0.611778,0.620518,0.516404,0.509865,0.561103,0.491010,0.462775,0.476286,...,0.119403,0.166667,0.331010,0.478049,1.000000,0.186667,0.218750,0.116883,0.201613,0.170732
3651,626.59000,0.529369,0.494388,0.611778,0.620518,0.516404,0.509865,0.561103,0.491010,0.462775,...,0.074627,0.142857,0.296167,0.619512,1.000000,0.133333,0.145833,0.207792,0.120968,0.146341
3652,636.57000,0.511154,0.529369,0.494388,0.611778,0.620518,0.516404,0.509865,0.561103,0.491010,...,0.044776,0.107143,0.132404,0.708537,1.000000,0.080000,0.093750,0.194805,0.080645,0.109756

In [12]:
X=df6.iloc[:,1:29]
y=df6.iloc[:,0]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42,shuffle=False)

In [14]:
def dod(real_values, pred_values):
    dod_result=np.sqrt(np.mean((pred_values-real_values)**2))
    return dod_result
def objective(params):
    params_copy = params.copy()
    model_name = params_copy['model_name']
    del params_copy['model_name']
    if model_name == 'svm':
        clf = SVR(**params_copy)
    elif model_name == 'xgboost':
        clf = xgb.XGBRegressor(**params_copy)
    elif model_name == 'lightgbm':
        clf = lgb.LGBMRegressor(**params_copy)
    elif model_name == 'knn':
        clf = KNeighborsRegressor(**params_copy)
    elif model_name == 'Ridge':
        clf = Ridge(**params_copy)
    elif model_name == 'Lasso':
        clf = Lasso(**params_copy)
    elif model_name == 'KR':
        clf = KernelRidge(**params_copy)
    elif model_name == 'Enet':
        clf = ElasticNet(**params_copy)
    elif model_name == 'ADBR':
        clf = AdaBoostRegressor(**params_copy)
    elif model_name == 'RFR':
        clf = RandomForestRegressor(**params_copy)
    elif model_name == 'GPR':
        clf = GaussianProcessRegressor(**params_copy)
    elif model_name == 'DT':
        clf = DecisionTreeRegressor(**params_copy)
    elif model_name == 'MLP':
        clf = MLPRegressor(**params_copy,
                    batch_size='auto', learning_rate='adaptive',
                     max_iter=25000, shuffle=False,tol=0.0001, verbose=False, warm_start=False, 
                           momentum=0.9, nesterovs_momentum=True, early_stopping=True, 
                           validation_fraction=0.1, beta_1=0.9,
                           beta_2=0.999, epsilon=1e-08, n_iter_no_change=10, max_fun=15000)
    elif model_name == 'CTB':
        clf = ctb.CatBoostRegressor(**params_copy,verbose=0,early_stopping_rounds=20)
    elif model_name == 'ETR':
        clf = ExtraTreesRegressor(**params_copy)
    elif model_name == 'BGR':
        clf = BaggingRegressor(base_estimator=SVR(),**params_copy)
    elif model_name == 'SGD':
        clf = SGDRegressor(max_iter=1000, tol=1e-3,**params_copy)
        
    else:
        return 0
    clf.fit(X_train, y_train)
    pred = clf.predict(X_test)
    loss = dod(y_test, pred)
    return {'loss':loss, 'params':params_copy, 'status':STATUS_OK}

In [15]:
def create_space():
    space_svm = {
        'model_name': 'svm',
        'kernel': hp.choice('kernel', ['rbf']),
        'C':   hp.loguniform('C', -40,10 ),
        'gamma':hp.loguniform('gamma', -40,10),
        'epsilon':hp.quniform('epsilon', 1e-5,1e-1,1e-1),

    }
    space_knn = {
        'model_name': 'knn',
        'n_neighbors': hp.choice('n_neighbors', range(2,25)),
        'algorithm': hp.choice('algorithm', ['auto','ball_tree','kd_tree','brute'])
    }
    space_xgboost = {
        'model_name': 'xgboost',
        'n_estimators': hp.choice('n_estimators', range(50,500,2)),
        'learning_rate': hp.uniform('learning_rate', 0.01, 0.1),
        'max_depth': hp.choice('max_depth', range(2,80,1)),
        'min_child_weight': hp.choice('min_child_weight', range(1,50,1)),
        'reg_alpha': hp.uniform('reg_alpha', 0, 1.0),
        'subsample': hp.uniform('subsample', 0.5, 1.0),
        'colsample_bytree': hp.uniform('colsample_bytree', 0.6, 1.0)
    }
    space_lightgbm = {
        'model_name': 'lightgbm',
        'n_estimators': hp.choice('n_estimators', range(50,500,2)),
        'learning_rate': hp.uniform('learning_rate', 0.01, 0.3),
        'max_depth': hp.choice('max_depth', range(2,80,1)),
        'num_leaves': hp.choice('num_leaves', range(2, 50, 1)),
        'min_child_weight': hp.uniform('min_child_weight', 0.001, 0.2),
        'min_child_samples': hp.choice('min_child_samples', range(5,51,5)),
        'subsample': hp.uniform('subsample', 0.5, 1.0),
        'colsample_bytree': hp.uniform('lgb_colsample_bytree', 0.6, 1.0),
        'reg_alpha': hp.uniform('reg_alpha', 0, 1.0)
    }
    
      
    space_Lasso = {
        'model_name': 'Lasso',
        'alpha': hp.uniform('alpha', 0, 1.0)
    }
      
    space_Ridge = {
        'model_name': 'Ridge',
        'alpha': hp.uniform('alpha', 0, 1.0)
    }
    
      
    space_KR = {
        'model_name': 'KR',
        'kernel': hp.choice('kernel', ['rbf']),
        'alpha': hp.uniform('alpha', 0, 1.0)
    }
    
    space_Enet = {
        'model_name': 'Enet',
        'l1_ratio': hp.uniform('l1_ratio', 0.1, 1.0),
        'alpha': hp.uniform('alpha', 0, 1.0)
    } 
    
    space_ADBR = {
        'model_name': 'ADBR',
        'learning_rate': hp.uniform('learning_rate', 0.0001, 0.3),
        'loss':        hp.choice('loss', ['linear', 'square' ,'exponential']),
        'n_estimators': hp.choice('n_estimators', range(5,800,2))
    }
    space_RFR = {
        'model_name': 'RFR',
        'n_estimators': hp.choice('n_estimators', range(5,800,2)),
        'max_depth': hp.choice('max_depth', range(1,110,1)),
        'min_samples_split': hp.choice('min_samples_split', range(2,100,1)),
        'min_samples_leaf': hp.choice('min_samples_leaf', range(1,100,1)),
        'max_features': hp.uniform('max_features', 0.4, 1.0)
        }
    
    space_DT = {
        'model_name': 'DT',
        'max_depth':hp.choice('max_depth', range(1,200,1))
        }

    space_MLP = {
        'model_name': 'MLP',
        'hidden_layer_sizes': 50 + hp.randint('hidden_layer_sizes', 100),
        'activation': hp.choice('activation', ['tanh', 'relu', 'logistic']),
        'solver': hp.choice('solver', ['adam']),
        'alpha': hp.uniform('alpha', 0.05, 1.0),
        'learning_rate_init':hp.uniform('learning_rate_init', 0.01, 0.1)
        }

    space_CTB = {
        'model_name': 'CTB',
        'learning_rate':     hp.uniform('learning_rate', 0.01, 0.1),
        'max_depth':         hp.choice('max_depth', range(1,16,1)),
        'colsample_bylevel': hp.uniform('colsample_bylevel', 0.01, 1.0),
        'n_estimators':      hp.choice('n_estimators', range(5,100,2))
        }
    space_ETR = {
        'model_name': 'ETR',
        'n_estimators': hp.choice('n_estimators', range(5,800,2)),
        'max_depth': hp.choice('max_depth', range(1,110,1))
        }
    
    return [space_svm, space_knn, space_xgboost, space_lightgbm,space_Lasso,space_Ridge,space_KR,space_Enet,
            space_CTB,space_ADBR,space_RFR,space_DT,space_MLP,space_ETR]

svm_params = {'kernel':['rbf']}
knn_params = {'n_neighbors':range(2,25), 'algorithm':['auto','ball_tree','kd_tree','brute']}
xgboost_params = {'n_estimators':range(50,500,2), 'max_depth':range(2,80,1), 'min_child_weight':range(1,50,1)}
lightgbm_params = {'n_estimators':range(50,500,2), 'max_depth':range(2,80,1), 'num_leaves':range(2,50,1),
                   'min_child_samples':range(5,51,5)}
KR_params = {'kernel':['rbf']}
CTB_params = {'n_estimators':range(5,100,2), 'max_depth':range(1,16,1)}
ADBR_params = {'n_estimators':range(5,800,2), 'loss':['linear', 'square' ,'exponential']}
RFR_params={'n_estimators': range(5,800,2), 'max_depth': range(1,110,1), 
            'min_samples_split': range(2,100,1), 'min_samples_leaf': range(1,100,1)}
DT_params = {'max_depth':range(1,200,1)}
MLP_params={'activation': ['logistic', 'tanh', 'relu'],'solver': ['adam']}
ETR_params={'n_estimators': range(5,800,2), 'max_depth': range(1,110,1)}
BGR_params={'n_estimators': range(5,800,2)}
all_model_params = {'svm':svm_params, 'knn':knn_params, 'xgboost':xgboost_params, 'lightgbm':lightgbm_params,'KR':KR_params,
                   'CTB':CTB_params,'ADBR':ADBR_params,'RFR': RFR_params,'DT':DT_params,'MLP':MLP_params,
                   'ETR':ETR_params}
spaces = create_space()

In [16]:
def find_params(spaces):
    model_params = {}
    MAX_EVALS = 50
    for space in spaces:
        trials = Trials()
        best_params = fmin(fn=objective, space=space, algo=tpe.suggest, max_evals=MAX_EVALS, trials=trials)
        model_params[space['model_name']] = best_params
    return model_params

result = find_params(spaces)
print(result)

100%|█████████████████████████████████████████████████| 50/50 [00:53<00:00,  1.08s/trial, best loss: 45.88564323162923]
100%|█████████████████████████████████████████████████| 50/50 [00:02<00:00, 22.98trial/s, best loss: 52.08289513545431]
100%|████████████████████████████████████████████████| 50/50 [04:31<00:00,  5.43s/trial, best loss: 39.066627314196964]
100%|████████████████████████████████████████████████| 50/50 [09:25<00:00, 11.30s/trial, best loss: 39.989957385251614]
100%|████████████████████████████████████████████████| 50/50 [00:15<00:00,  3.15trial/s, best loss: 44.316374083538506]
100%|████████████████████████████████████████████████| 50/50 [00:00<00:00, 64.69trial/s, best loss: 43.987892398986595]
100%|██████████████████████████████████████████████████| 50/50 [02:17<00:00,  2.74s/trial, best loss: 39.6617193169662]
100%|█████████████████████████████████████████████████| 50/50 [00:12<00:00,  3.93trial/s, best loss: 44.42417275150939]
100%|████████████████████████████████████████████████████| 50/50 [08:20<00:00, 10.01s/trial, best loss: 40.49251085274]
100%|█████████████████████████████████████████████████| 50/50 [05:27<00:00,  6.54s/trial, best loss: 50.70071089376227]
100%|█████████████████████████████████████████████████| 50/50 [07:21<00:00,  8.83s/trial, best loss: 43.14407861597649]
100%|█████████████████████████████████████████████████| 50/50 [00:05<00:00,  8.99trial/s, best loss: 53.08564574011915]
100%|█████████████████████████████████████████████████| 50/50 [02:18<00:00,  2.76s/trial, best loss: 40.74125598886452]
100%|█████████████████████████████████████████████████| 50/50 [06:40<00:00,  8.01s/trial, best loss: 40.65370646656019]
{'svm': {'C': 704.0852040657783, 'epsilon': 0.0, 'gamma': 0.028572636406668506, 'kernel': 0}, 'knn': {'algorithm': 3, 'n_neighbors': 3}, 'xgboost': {'colsample_bytree': 0.6428780548151423, 'learning_rate': 0.03548780412125391, 'max_depth': 39, 'min_child_weight': 6, 'n_estimators': 141, 'reg_alpha': 0.5383754703070143, 'subsample': 0.6002904063595585}, 'lightgbm': {'learning_rate': 0.06423751531770588, 'lgb_colsample_bytree': 0.6791850430537718, 'max_depth': 36, 'min_child_samples': 2, 'min_child_weight': 0.0359559027653637, 'n_estimators': 220, 'num_leaves': 29, 'reg_alpha': 0.6917081052860292, 'subsample': 0.8579571390452005}, 'Lasso': {'alpha': 0.0015687625921286912}, 'Ridge': {'alpha': 5.790337474151364e-07}, 'KR': {'alpha': 0.0003461948658376448, 'kernel': 0}, 'Enet': {'alpha': 9.606892974880783e-06, 'l1_ratio': 0.6537348087921624}, 'CTB': {'colsample_bylevel': 0.444659747666618, 'learning_rate': 0.09116979352515098, 'max_depth': 7, 'n_estimators': 42}, 'ADBR': {'learning_rate': 0.2706325078040671, 'loss': 2, 'n_estimators': 308}, 'RFR': {'max_depth': 46, 'max_features': 0.4668947654485341, 'min_samples_leaf': 8, 'min_samples_split': 2, 'n_estimators': 94}, 'DT': {'max_depth': 5}, 'MLP': {'activation': 1, 'alpha': 0.21160815564103613, 'hidden_layer_sizes': 61, 'learning_rate_init': 0.061392654513641114, 'solver': 0}, 'ETR': {'max_depth': 98, 'n_estimators': 265}}

In [17]:
#'Lasso':Lasso_params,'Ridge':Ridge_params,'Enet':Enet_params,'KR':KR_params
def init_base_models(result):
    result['svm']['kernel'] = all_model_params['svm']['kernel'][result['svm']['kernel']]
    result['knn']['n_neighbors'] = all_model_params['knn']['n_neighbors'][result['knn']['n_neighbors']]
    result['knn']['algorithm'] = all_model_params['knn']['algorithm'][result['knn']['algorithm']]
    result['xgboost']['n_estimators'] = all_model_params['xgboost']['n_estimators'][result['xgboost']['n_estimators']]
    result['xgboost']['max_depth'] = all_model_params['xgboost']['max_depth'][result['xgboost']['max_depth']]
    result['xgboost']['min_child_weight'] = all_model_params['xgboost']['min_child_weight'][result['xgboost']['min_child_weight']]
    result['lightgbm']['n_estimators'] = all_model_params['lightgbm']['n_estimators'][result['lightgbm']['n_estimators']]
    result['lightgbm']['max_depth'] = all_model_params['lightgbm']['max_depth'][result['lightgbm']['max_depth']]
    result['lightgbm']['num_leaves'] = all_model_params['lightgbm']['num_leaves'][result['lightgbm']['num_leaves']]
    #result['Lasso']['alpha'] = all_model_params['Lasso']['alpha'][result['Lasso']['alpha']]
    #result['Ridge']['alpha'] = all_model_params['Ridge']['alpha'][result['Ridge']['alpha']]
    result['KR']['kernel'] = all_model_params['KR']['kernel'][result['KR']['kernel']]
    #result['Enet']['alpha'] = all_model_params['Enet']['alpha'][result['Enet']['alpha']]
    #result['Enet']['l1_ratio'] = all_model_params['Enet']['l1_ratio'][result['Enet']['l1_ratio']]
    result['CTB']['n_estimators'] = all_model_params['CTB']['n_estimators'][result['CTB']['n_estimators']]
    result['CTB']['max_depth'] = all_model_params['CTB']['max_depth'][result['CTB']['max_depth']]
    result['ADBR']['n_estimators'] = all_model_params['ADBR']['n_estimators'][result['ADBR']['n_estimators']]
    result['ADBR']['loss'] = all_model_params['ADBR']['loss'][result['ADBR']['loss']]
    result['RFR']['n_estimators'] = all_model_params['RFR']['n_estimators'][result['RFR']['n_estimators']]
    result['RFR']['max_depth'] = all_model_params['RFR']['max_depth'][result['RFR']['max_depth']]
    result['RFR']['min_samples_split'] = all_model_params['RFR']['min_samples_split'][result['RFR']['min_samples_split']]
    result['RFR']['min_samples_leaf'] = all_model_params['RFR']['min_samples_leaf'][result['RFR']['min_samples_leaf']]
    result['GPR']['kernel'] = all_model_params['GPR']['kernel'][result['GPR']['kernel']]
    result['DT']['max_depth'] = all_model_params['DT']['max_depth'][result['DT']['max_depth']]
    result['MLP']['activation'] = all_model_params['MLP']['activation'][result['MLP']['activation']]
    result['MLP']['solver'] = all_model_params['MLP']['solver'][result['MLP']['solver']]
    result['MLP']['hidden_layer_sizes'] = all_model_params['MLP']['hidden_layer_sizes'][result['MLP']['hidden_layer_sizes']]
    result['ETR']['n_estimators'] = all_model_params['ETR']['n_estimators'][result['ETR']['n_estimators']]
    result['ETR']['max_depth'] = all_model_params['ETR']['max_depth'][result['ETR']['max_depth']]
    result['BGR']['n_estimators'] = all_model_params['BGR']['n_estimators'][result['BGR']['n_estimators']]
    
    
    svm = SVR(**result['svm'])
    knn = KNeighborsRegressor(**result['knn'])
    xgboost = xgb.XGBRegressor(**result['xgboost'])
    lightgbm = lgb.LGBMRegressor(**result['lightgbm'])
    LassoR =Lasso(alpha=result['Lasso']['alpha'])
    RidgeR = Ridge(alpha=result['Ridge']['alpha'])
    KRR= KernelRidge(**result['KR'])
    CTBR=ctb.CatBoostRegressor(**result['CTB'],verbose=0,early_stopping_rounds=20)
    ADBRR= AdaBoostRegressor(**result['ADBR'])
    RFRR=RandomForestRegressor(**result['RFR'])
    EnetR = ElasticNet(alpha=result['Enet']['alpha'],l1_ratio=result['Enet']['l1_ratio'])  
    GPRR=GaussianProcessRegressor(**result['GPR'])
    DTR=DecisionTreeRegressor(**result['DT'])
    NNR=MLPRegressor(**result['MLP'],
                    batch_size='auto', learning_rate='adaptive',
                     max_iter=50000, shuffle=False,tol=0.0001, verbose=False, warm_start=False, 
                           momentum=0.9, nesterovs_momentum=True, early_stopping=True, 
                           validation_fraction=0.1, beta_1=0.9,
                           beta_2=0.999, epsilon=1e-08, n_iter_no_change=10, max_fun=15000)
    ETRR= ExtraTreesRegressor(**result['ETR'])
    BGRR=BaggingRegressor(base_estimator=SVR(),**result['BGR'])
    SGDR = SGDRegressor(max_iter=1000, tol=1e-3,alpha=result['SGD']['alpha'])
    return [svm, knn, xgboost, lightgbm, RidgeR, LassoR, EnetR, KRR,CTBR,ADBRR,RFRR,GPRR,DTR,NNR,ETRR,BGRR,SGDR]

In [18]:
svm = SVR(**result['svm'])
#knn = KNeighborsRegressor(**result['knn'])
xgboost = xgb.XGBRegressor(**result['xgboost'])
lightgbm = lgb.LGBMRegressor(**result['lightgbm'])
#LassoR =Lasso(alpha=result['Lasso']['alpha'])
#RidgeR = Ridge(alpha=result['Ridge']['alpha'])
#KRR= KernelRidge(**result['KR'])
CTBR=ctb.CatBoostRegressor(**result['CTB'],verbose=0,early_stopping_rounds=20)
ADBRR= AdaBoostRegressor(**result['ADBR'])
RFRR=RandomForestRegressor(**result['RFR'])
#EnetR = ElasticNet(alpha=result['Enet']['alpha'],l1_ratio=result['Enet']['l1_ratio'])  
#GPRR=GaussianProcessRegressor(**result['GPR'])
DTR=DecisionTreeRegressor(**result['DT'])
NNR=MLPRegressor(**result['MLP'],
                batch_size='auto', learning_rate='adaptive',
                 max_iter=50000, shuffle=False,tol=0.0001, verbose=False, warm_start=False, 
                       momentum=0.9, nesterovs_momentum=True, early_stopping=True, 
                       validation_fraction=0.1, beta_1=0.9,
                       beta_2=0.999, epsilon=1e-08, n_iter_no_change=10, max_fun=15000)
ETRR= ExtraTreesRegressor(**result['ETR'])
#SGDR = SGDRegressor(max_iter=1000, tol=1e-3,alpha=result['SGD']['alpha'])

In [20]:
result

{'svm': {'C': 704.0852040657783,
  'epsilon': 0.0,
  'gamma': 0.028572636406668506,
  'kernel': 0},
 'knn': {'algorithm': 3, 'n_neighbors': 3},
 'xgboost': {'colsample_bytree': 0.6428780548151423,
  'learning_rate': 0.03548780412125391,
  'max_depth': 39,
  'min_child_weight': 6,
  'n_estimators': 141,
  'reg_alpha': 0.5383754703070143,
  'subsample': 0.6002904063595585},
 'lightgbm': {'learning_rate': 0.06423751531770588,
  'lgb_colsample_bytree': 0.6791850430537718,
  'max_depth': 36,
  'min_child_samples': 2,
  'min_child_weight': 0.0359559027653637,
  'n_estimators': 220,
  'num_leaves': 29,
  'reg_alpha': 0.6917081052860292,
  'subsample': 0.8579571390452005},
 'Lasso': {'alpha': 0.0015687625921286912},
 'Ridge': {'alpha': 5.790337474151364e-07},
 'KR': {'alpha': 0.0003461948658376448, 'kernel': 0},
 'Enet': {'alpha': 9.606892974880783e-06, 'l1_ratio': 0.6537348087921624},
 'CTB': {'colsample_bylevel': 0.444659747666618,
  'learning_rate': 0.09116979352515098,
  'max_depth': 7,
  'n_estimators': 42},
 'ADBR': {'learning_rate': 0.2706325078040671, 'loss': 2, 'n_estimators': 308},
 'RFR': {'max_depth': 46,
  'max_features': 0.4668947654485341,
  'min_samples_leaf': 8,
  'min_samples_split': 2,
  'n_estimators': 94},
 'DT': {'max_depth': 5},
 'MLP': {'activation': 1,
  'alpha': 0.21160815564103613,
  'hidden_layer_sizes': 61,
  'learning_rate_init': 0.061392654513641114,
  'solver': 0},
 'ETR': {'max_depth': 98, 'n_estimators': 265}}

In [24]:
SVRR= SVR(C= 704.0852040657783,
epsilon= 0.0,
gamma= 0.028572636406668506,
kernel= 'rbf')

KNNR= KNeighborsRegressor(algorithm= 'brute', n_neighbors= 3)

XGBR=xgb.XGBRegressor(colsample_bytree= 0.6428780548151423,
learning_rate= 0.03548780412125391,
max_depth= 39,
min_child_weight= 6,
n_estimators= 141,
reg_alpha= 0.5383754703070143,
subsample= 0.6002904063595585)

LGBR=lgb.LGBMRegressor(learning_rate= 0.06423751531770588,
lgb_colsample_bytree= 0.6791850430537718,
max_depth= 36,
min_child_samples= 2,
min_child_weight= 0.0359559027653637,
n_estimators= 220,
num_leaves= 29,
reg_alpha= 0.6917081052860292,
subsample= 0.8579571390452005)



KRR= KernelRidge(alpha= 0.0003461948658376448, kernel= 'rbf')



CTBR= ctb.CatBoostRegressor(colsample_bylevel= 0.444659747666618,
learning_rate= 0.09116979352515098,
max_depth= 7,
n_estimators= 42)

ADBRR= AdaBoostRegressor(learning_rate= 0.2706325078040671, loss= 'exponential', n_estimators= 308)

RFRR= RandomForestRegressor(max_depth= 46,
max_features= 0.4668947654485341,
min_samples_leaf= 8,
min_samples_split= 2,
n_estimators= 94)



NNR= MLPRegressor(activation= 'relu',
alpha= 0.21160815564103613,
hidden_layer_sizes= 61,
learning_rate_init= 0.061392654513641114,
solver= 'adam')

ETRR= ExtraTreesRegressor(max_depth= 98, n_estimators= 265)

In [53]:
CTBR.fit(X_train,y_train)
ADBRR.fit(X_train,y_train)
RFRR.fit(X_train,y_train)
KNNR.fit(X_train,y_train)
NNR.fit(X_train,y_train)
ETRR.fit(X_train,y_train)
XGBR.fit(X_train,y_train)
LGBR.fit(X_train,y_train)
SVRR.fit(X_train,y_train)
KRR.fit(X_train,y_train)

0:	learn: 96.9413318	total: 6.65ms	remaining: 273ms
1:	learn: 91.2612318	total: 12.1ms	remaining: 242ms
2:	learn: 86.2578870	total: 26.5ms	remaining: 345ms
3:	learn: 81.6585734	total: 32.9ms	remaining: 312ms
4:	learn: 77.4287418	total: 38.3ms	remaining: 283ms
5:	learn: 73.5427448	total: 44ms	remaining: 264ms
6:	learn: 69.8847683	total: 59.6ms	remaining: 298ms
7:	learn: 66.6829516	total: 65.6ms	remaining: 279ms
8:	learn: 63.7478922	total: 71.7ms	remaining: 263ms
9:	learn: 61.5688608	total: 77.8ms	remaining: 249ms
10:	learn: 59.2994609	total: 83.1ms	remaining: 234ms
11:	learn: 57.1434766	total: 89.4ms	remaining: 223ms
12:	learn: 55.1523300	total: 94.5ms	remaining: 211ms
13:	learn: 53.4516193	total: 101ms	remaining: 201ms
14:	learn: 52.1026199	total: 105ms	remaining: 190ms
15:	learn: 50.7517712	total: 110ms	remaining: 179ms
16:	learn: 49.3562356	total: 115ms	remaining: 170ms
17:	learn: 48.3052648	total: 134ms	remaining: 179ms
18:	learn: 47.2941947	total: 139ms	remaining: 169ms
19:	learn: 46.4174488	total: 145ms	remaining: 159ms
20:	learn: 45.5058035	total: 150ms	remaining: 150ms
21:	learn: 44.5609051	total: 155ms	remaining: 140ms
22:	learn: 43.9170152	total: 162ms	remaining: 134ms
23:	learn: 43.3319874	total: 167ms	remaining: 125ms
24:	learn: 42.8582682	total: 173ms	remaining: 118ms
25:	learn: 42.2891014	total: 178ms	remaining: 110ms
26:	learn: 41.7314361	total: 184ms	remaining: 102ms
27:	learn: 41.2393360	total: 192ms	remaining: 95.9ms
28:	learn: 40.8182479	total: 199ms	remaining: 89.1ms
29:	learn: 40.4247266	total: 206ms	remaining: 82.4ms
30:	learn: 40.0689491	total: 211ms	remaining: 74.9ms
31:	learn: 39.7197466	total: 216ms	remaining: 67.5ms
32:	learn: 39.3754808	total: 222ms	remaining: 60.6ms
33:	learn: 39.0582366	total: 227ms	remaining: 53.4ms
34:	learn: 38.7576608	total: 232ms	remaining: 46.3ms
35:	learn: 38.5877632	total: 251ms	remaining: 41.8ms
36:	learn: 38.2934737	total: 257ms	remaining: 34.7ms
37:	learn: 38.0494665	total: 262ms	remaining: 27.6ms
38:	learn: 37.8136199	total: 268ms	remaining: 20.6ms
39:	learn: 37.5712740	total: 274ms	remaining: 13.7ms
40:	learn: 37.3736284	total: 279ms	remaining: 6.81ms
41:	learn: 37.1986834	total: 284ms	remaining: 0us
[LightGBM] [Warning] Unknown parameter: lgb_colsample_bytree

KernelRidge(alpha=0.0003461948658376448, kernel='rbf')

In [54]:
Y_pred_CTB_TEST=CTBR.predict(X_test)
Y_pred_ADBR_TEST=ADBRR.predict(X_test)
Y_pred_RFR_TEST=RFRR.predict(X_test)
Y_pred_KNNR_TEST=KNNR.predict(X_test)
Y_pred_MLP_TEST=NNR.predict(X_test)
Y_pred_ETR_TEST=ETRR.predict(X_test)
Y_pred_LGB_TEST=LGBR.predict(X_test)
Y_pred_SVR_TEST=SVRR.predict(X_test)
Y_pred_XGB_TEST=XGBR.predict(X_test)
Y_pred_KRR_TEST=KRR.predict(X_test)

In [55]:
import PIALL
y_test=np.array(y_test)
PIALL_CTB=PIALL.PI(y_test,Y_pred_CTB_TEST)
PIALL_ADBR=PIALL.PI(y_test,Y_pred_ADBR_TEST)
PIALL_RFR=PIALL.PI(y_test,Y_pred_RFR_TEST)
PIALL_KNNR=PIALL.PI(y_test,Y_pred_KNNR_TEST)
PIALL_MLP=PIALL.PI(y_test,Y_pred_MLP_TEST)
PIALL_ETR=PIALL.PI(y_test,Y_pred_ETR_TEST)
PIALL_XGB=PIALL.PI(y_test,Y_pred_XGB_TEST)
PIALL_SVR=PIALL.PI(y_test,Y_pred_SVR_TEST)
PIALL_LGB=PIALL.PI(y_test,Y_pred_LGB_TEST)
PIALL_KRR=PIALL.PI(y_test,Y_pred_KRR_TEST)

In [56]:
PIALL_CTB

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.810722,0.942153,0.471361,0.73462,0.791959,44.138681,7.267709,35.204528,5.843494,5.796645,0.05981

In [57]:
PIALL_ADBR

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.747379,0.925416,0.381594,0.682713,0.819459,50.992275,8.398242,41.067911,6.896473,6.763736,0.070362

In [58]:
PIALL_RFR

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.820635,0.947736,0.520735,0.772334,0.84266,42.967393,7.08366,33.633691,5.58834,5.544894,0.057083

In [59]:
PIALL_KNNR

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.716969,0.909957,0.325666,0.582613,0.739916,53.97429,8.796592,44.742878,7.36594,7.29208,0.077162

In [60]:
PIALL_MLP

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.72116,0.917899,0.404452,0.643184,0.808809,53.573127,8.661514,42.240658,6.793008,6.82932,0.071996

In [61]:
PIALL_ETR

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.834398,0.951718,0.541325,0.788886,0.84503,41.285963,6.813272,32.013247,5.345848,5.28303,0.054413

In [62]:
PIALL_SVR

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.795443,0.939506,0.492897,0.731134,0.82087,45.885643,7.479263,36.021094,5.840932,5.871363,0.060868

In [63]:
PIALL_XGB

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.849025,0.956146,0.565529,0.80724,0.8487,39.42054,6.570251,30.472663,5.09394,5.078901,0.050829

In [64]:
PIALL_LGB

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.836004,0.953558,0.565724,0.803086,0.871788,41.085284,6.776114,31.168164,5.1903,5.140503,0.052931

In [65]:
PIALL_KRR

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.847172,0.957043,0.571076,0.816952,0.878158,39.661719,6.487401,31.222704,5.142603,5.107046,0.05329

In [47]:
os.chdir("C:\\Users\\SUJANPC\\Documents\\Energies\\EP2")
TEST=pd.DataFrame([Y_pred_CTB_TEST,Y_pred_ADBR_TEST,Y_pred_RFR_TEST,
                         Y_pred_KNNR_TEST,Y_pred_MLP_TEST,Y_pred_ETR_TEST,
                        Y_pred_LGB_TEST,Y_pred_XGB_TEST,Y_pred_SVR_TEST,Y_pred_KRR_TEST,y_test]).T
TEST.columns=['CTB','ADBR','RFR','KNNR','MLP','ETR','LGB','XGB','SVR','KRR','YTEST']
writer = pd.ExcelWriter('EP2_LAwnton_REG.xlsx.xlsx', engine='xlsxwriter')
TEST.to_excel(writer, sheet_name='TEST_Result')
writer.save()

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42,shuffle=False)

In [49]:
from tensorflow.keras.optimizers import SGD, RMSprop,Adam
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau

cnn_lr_reduction = ReduceLROnPlateau(monitor='val_loss', 
                                     patience=20, verbose=2, factor=0.7,min_delta = 1e-04, cooldown = 0,min_lr =0)
callbacks = [EarlyStopping(monitor='val_loss', patience=50),
             ModelCheckpoint(filepath='best_weights_DNN_Lawnton.h5',verbose=2,
                             monitor='val_loss', save_best_only=True),cnn_lr_reduction ]

In [50]:
def dnn_keras_model():
    model = Sequential([
    Dense(320, activation="relu",
                       input_shape=(X_train.shape[1],)),
    Dense(200, activation=tf.nn.relu),Dense(180, activation=tf.nn.relu),Dense(80, activation=tf.nn.relu),
        Dense(60,activation=tf.nn.relu),Dense(40,activation=tf.nn.relu),Dense(30,activation=tf.nn.relu),
    Dense(1)
  ])
    optimizer = tf.keras.optimizers.Adam()
    model.compile(loss='mse', optimizer='adam', metrics=['mae'])
    model.summary()
    return model

In [51]:
EPOCHS = 5000
BS=1
model = dnn_keras_model()
history = model.fit(X_train, y_train, epochs=EPOCHS,
                  validation_split=0.2, verbose=2, batch_size=BS,
                  callbacks=callbacks)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 320)               9280

 dense_1 (Dense)             (None, 200)               64200

 dense_2 (Dense)             (None, 180)               36180

 dense_3 (Dense)             (None, 80)                14480

 dense_4 (Dense)             (None, 60)                4860

 dense_5 (Dense)             (None, 40)                2440

 dense_6 (Dense)             (None, 30)                1230

 dense_7 (Dense)             (None, 1)                 31

=================================================================
Total params: 132,701
Trainable params: 132,701
Non-trainable params: 0
_________________________________________________________________
Epoch 1/5000

Epoch 00001: val_loss improved from inf to 4026.65967, saving model to best_weights_DNN_Lawnton.h5
2621/2621 - 4s - loss: 9976.5752 - mae: 63.1067 - val_loss: 4026.6597 - val_mae: 47.0371 - lr: 0.0010 - 4s/epoch - 2ms/step
Epoch 2/5000

Epoch 00002: val_loss improved from 4026.65967 to 3214.97485, saving model to best_weights_DNN_Lawnton.h5
2621/2621 - 3s - loss: 3895.8269 - mae: 46.9737 - val_loss: 3214.9749 - val_mae: 42.8736 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 3/5000

Epoch 00003: val_loss improved from 3214.97485 to 2372.57227, saving model to best_weights_DNN_Lawnton.h5
2621/2621 - 3s - loss: 3156.7332 - mae: 41.9398 - val_loss: 2372.5723 - val_mae: 36.8795 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 4/5000

Epoch 00004: val_loss improved from 2372.57227 to 2276.01416, saving model to best_weights_DNN_Lawnton.h5
2621/2621 - 3s - loss: 3035.4053 - mae: 41.3567 - val_loss: 2276.0142 - val_mae: 37.1977 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 5/5000

Epoch 00005: val_loss did not improve from 2276.01416
2621/2621 - 3s - loss: 2816.9434 - mae: 39.5291 - val_loss: 2752.3528 - val_mae: 42.1142 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 6/5000

Epoch 00006: val_loss did not improve from 2276.01416
2621/2621 - 3s - loss: 2782.5276 - mae: 38.7486 - val_loss: 5898.7559 - val_mae: 67.2615 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 7/5000

Epoch 00007: val_loss improved from 2276.01416 to 1851.99280, saving model to best_weights_DNN_Lawnton.h5
2621/2621 - 4s - loss: 2436.5127 - mae: 36.4230 - val_loss: 1851.9928 - val_mae: 32.3001 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 8/5000

Epoch 00008: val_loss did not improve from 1851.99280
2621/2621 - 3s - loss: 2555.9951 - mae: 37.7742 - val_loss: 2616.3013 - val_mae: 40.2677 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 9/5000

Epoch 00009: val_loss did not improve from 1851.99280
2621/2621 - 3s - loss: 2327.3835 - mae: 35.8027 - val_loss: 2024.4034 - val_mae: 34.9263 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 10/5000

Epoch 00010: val_loss improved from 1851.99280 to 1825.57922, saving model to best_weights_DNN_Lawnton.h5
2621/2621 - 4s - loss: 2262.0532 - mae: 35.2756 - val_loss: 1825.5792 - val_mae: 31.5750 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 11/5000

Epoch 00011: val_loss did not improve from 1825.57922
2621/2621 - 3s - loss: 2281.6187 - mae: 35.0275 - val_loss: 4052.0857 - val_mae: 54.2811 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 12/5000

Epoch 00012: val_loss did not improve from 1825.57922
2621/2621 - 3s - loss: 2250.2656 - mae: 34.9501 - val_loss: 2112.5444 - val_mae: 36.2761 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 13/5000

Epoch 00013: val_loss did not improve from 1825.57922
2621/2621 - 3s - loss: 2207.8372 - mae: 34.1621 - val_loss: 2252.9893 - val_mae: 37.4799 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 14/5000

Epoch 00014: val_loss did not improve from 1825.57922
2621/2621 - 4s - loss: 2195.4744 - mae: 34.7725 - val_loss: 2534.0881 - val_mae: 40.6133 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 15/5000

Epoch 00015: val_loss did not improve from 1825.57922
2621/2621 - 3s - loss: 2086.4045 - mae: 33.3676 - val_loss: 3799.8179 - val_mae: 52.1801 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 16/5000

Epoch 00016: val_loss did not improve from 1825.57922
2621/2621 - 4s - loss: 2144.8188 - mae: 34.2175 - val_loss: 1966.4830 - val_mae: 33.5274 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 17/5000

Epoch 00017: val_loss did not improve from 1825.57922
2621/2621 - 4s - loss: 2006.2655 - mae: 32.7541 - val_loss: 1954.2511 - val_mae: 34.7890 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 18/5000

Epoch 00018: val_loss improved from 1825.57922 to 1507.86511, saving model to best_weights_DNN_Lawnton.h5
2621/2621 - 4s - loss: 1979.0269 - mae: 32.3070 - val_loss: 1507.8651 - val_mae: 29.1163 - lr: 0.0010 - 4s/epoch - 2ms/step
Epoch 19/5000

Epoch 00019: val_loss did not improve from 1507.86511
2621/2621 - 3s - loss: 2037.6154 - mae: 33.2464 - val_loss: 1897.0398 - val_mae: 32.6055 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 20/5000

Epoch 00020: val_loss did not improve from 1507.86511
2621/2621 - 3s - loss: 2027.0918 - mae: 32.7613 - val_loss: 3059.4412 - val_mae: 45.6070 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 21/5000

Epoch 00021: val_loss did not improve from 1507.86511
2621/2621 - 5s - loss: 2018.8060 - mae: 32.3709 - val_loss: 1633.9581 - val_mae: 30.9701 - lr: 0.0010 - 5s/epoch - 2ms/step
Epoch 22/5000

Epoch 00022: val_loss did not improve from 1507.86511
2621/2621 - 3s - loss: 1963.6545 - mae: 32.3221 - val_loss: 2434.5391 - val_mae: 39.4333 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 23/5000

Epoch 00023: val_loss did not improve from 1507.86511
2621/2621 - 3s - loss: 1979.5016 - mae: 32.2342 - val_loss: 3737.3022 - val_mae: 51.3348 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 24/5000

Epoch 00024: val_loss improved from 1507.86511 to 1473.78979, saving model to best_weights_DNN_Lawnton.h5
2621/2621 - 4s - loss: 2017.6521 - mae: 32.5643 - val_loss: 1473.7898 - val_mae: 28.5443 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 25/5000

Epoch 00025: val_loss did not improve from 1473.78979
2621/2621 - 4s - loss: 1868.2780 - mae: 31.5269 - val_loss: 1994.6473 - val_mae: 34.8661 - lr: 0.0010 - 4s/epoch - 2ms/step
Epoch 26/5000

Epoch 00026: val_loss did not improve from 1473.78979
2621/2621 - 4s - loss: 1827.9197 - mae: 30.8564 - val_loss: 2139.3506 - val_mae: 35.3127 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 27/5000

Epoch 00027: val_loss did not improve from 1473.78979
2621/2621 - 4s - loss: 1936.6373 - mae: 31.9990 - val_loss: 1617.9338 - val_mae: 30.5476 - lr: 0.0010 - 4s/epoch - 2ms/step
Epoch 28/5000

Epoch 00028: val_loss did not improve from 1473.78979
2621/2621 - 5s - loss: 1906.1870 - mae: 31.7790 - val_loss: 3200.4224 - val_mae: 46.4267 - lr: 0.0010 - 5s/epoch - 2ms/step
Epoch 29/5000

Epoch 00029: val_loss did not improve from 1473.78979
2621/2621 - 3s - loss: 1832.9147 - mae: 31.2747 - val_loss: 3543.8179 - val_mae: 49.8796 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 30/5000

Epoch 00030: val_loss did not improve from 1473.78979
2621/2621 - 3s - loss: 1860.6088 - mae: 31.4452 - val_loss: 4575.2476 - val_mae: 58.5756 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 31/5000

Epoch 00031: val_loss did not improve from 1473.78979
2621/2621 - 3s - loss: 1966.9197 - mae: 32.1641 - val_loss: 4463.7095 - val_mae: 57.0985 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 32/5000

Epoch 00032: val_loss did not improve from 1473.78979
2621/2621 - 4s - loss: 1826.5248 - mae: 30.9687 - val_loss: 1708.1803 - val_mae: 31.8540 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 33/5000

Epoch 00033: val_loss did not improve from 1473.78979
2621/2621 - 4s - loss: 1847.2179 - mae: 31.4590 - val_loss: 1631.0911 - val_mae: 31.1229 - lr: 0.0010 - 4s/epoch - 1ms/step

Epoch 34/5000

Epoch 00034: val_loss did not improve from 1473.78979
2621/2621 - 4s - loss: 1906.3428 - mae: 31.4114 - val_loss: 1863.9572 - val_mae: 33.5577 - lr: 0.0010 - 4s/epoch - 2ms/step
Epoch 35/5000

Epoch 00035: val_loss did not improve from 1473.78979
2621/2621 - 5s - loss: 1860.1956 - mae: 31.2340 - val_loss: 2442.2952 - val_mae: 39.7119 - lr: 0.0010 - 5s/epoch - 2ms/step
Epoch 36/5000

Epoch 00036: val_loss did not improve from 1473.78979
2621/2621 - 6s - loss: 1838.0529 - mae: 31.0456 - val_loss: 2136.7295 - val_mae: 36.8130 - lr: 0.0010 - 6s/epoch - 2ms/step
Epoch 37/5000

Epoch 00037: val_loss improved from 1473.78979 to 1342.10413, saving model to best_weights_DNN_Lawnton.h5
2621/2621 - 5s - loss: 1766.6238 - mae: 30.5428 - val_loss: 1342.1041 - val_mae: 27.2982 - lr: 0.0010 - 5s/epoch - 2ms/step
Epoch 38/5000

Epoch 00038: val_loss did not improve from 1342.10413
2621/2621 - 3s - loss: 1789.8750 - mae: 30.1205 - val_loss: 4535.3804 - val_mae: 58.1387 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 39/5000

Epoch 00039: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1866.7017 - mae: 30.9611 - val_loss: 4190.9351 - val_mae: 54.9282 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 40/5000

Epoch 00040: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1676.5552 - mae: 29.9033 - val_loss: 3371.4883 - val_mae: 48.6188 - lr: 0.0010 - 4s/epoch - 2ms/step
Epoch 41/5000

Epoch 00041: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1798.0468 - mae: 30.9426 - val_loss: 2409.8225 - val_mae: 38.7611 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 42/5000

Epoch 00042: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1800.8268 - mae: 30.6751 - val_loss: 2483.0107 - val_mae: 40.3800 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 43/5000

Epoch 00043: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1708.8680 - mae: 29.9275 - val_loss: 1902.3430 - val_mae: 34.1477 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 44/5000

Epoch 00044: val_loss did not improve from 1342.10413
2621/2621 - 3s - loss: 1755.7129 - mae: 30.4924 - val_loss: 2068.1099 - val_mae: 35.8451 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 45/5000

Epoch 00045: val_loss did not improve from 1342.10413
2621/2621 - 3s - loss: 1763.1967 - mae: 30.4425 - val_loss: 2387.4136 - val_mae: 38.9175 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 46/5000

Epoch 00046: val_loss did not improve from 1342.10413
2621/2621 - 3s - loss: 1779.7433 - mae: 30.1873 - val_loss: 3203.4832 - val_mae: 46.7311 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 47/5000

Epoch 00047: val_loss did not improve from 1342.10413
2621/2621 - 7s - loss: 1717.1230 - mae: 30.2871 - val_loss: 2883.2471 - val_mae: 43.9841 - lr: 0.0010 - 7s/epoch - 3ms/step
Epoch 48/5000

Epoch 00048: val_loss did not improve from 1342.10413
2621/2621 - 9s - loss: 1727.8451 - mae: 29.8513 - val_loss: 2899.6089 - val_mae: 44.1837 - lr: 0.0010 - 9s/epoch - 4ms/step
Epoch 49/5000

Epoch 00049: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1709.4706 - mae: 30.0364 - val_loss: 3368.1992 - val_mae: 48.6617 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 50/5000

Epoch 00050: val_loss did not improve from 1342.10413
2621/2621 - 3s - loss: 1685.7494 - mae: 29.6913 - val_loss: 1875.7666 - val_mae: 33.0686 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 51/5000

Epoch 00051: val_loss did not improve from 1342.10413
2621/2621 - 3s - loss: 1715.4481 - mae: 29.7941 - val_loss: 2952.5122 - val_mae: 44.8244 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 52/5000

Epoch 00052: val_loss did not improve from 1342.10413
2621/2621 - 3s - loss: 1772.2075 - mae: 30.8145 - val_loss: 4213.0601 - val_mae: 55.0948 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 53/5000

Epoch 00053: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1668.5315 - mae: 29.6681 - val_loss: 3103.1726 - val_mae: 46.1870 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 54/5000

Epoch 00054: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1786.9695 - mae: 30.3134 - val_loss: 1889.6305 - val_mae: 33.7632 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 55/5000

Epoch 00055: val_loss did not improve from 1342.10413
2621/2621 - 5s - loss: 1774.0997 - mae: 30.5846 - val_loss: 2014.0723 - val_mae: 35.2202 - lr: 0.0010 - 5s/epoch - 2ms/step
Epoch 56/5000

Epoch 00056: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1748.6509 - mae: 30.4911 - val_loss: 3265.0605 - val_mae: 47.5131 - lr: 0.0010 - 4s/epoch - 1ms/step
Epoch 57/5000

Epoch 00057: val_loss did not improve from 1342.10413

Epoch 00057: ReduceLROnPlateau reducing learning rate to 0.0007000000332482159.
2621/2621 - 3s - loss: 1739.3492 - mae: 30.2506 - val_loss: 2468.6611 - val_mae: 39.8886 - lr: 0.0010 - 3s/epoch - 1ms/step
Epoch 58/5000

Epoch 00058: val_loss did not improve from 1342.10413
2621/2621 - 3s - loss: 1549.5217 - mae: 27.6858 - val_loss: 4264.0981 - val_mae: 55.9161 - lr: 7.0000e-04 - 3s/epoch - 1ms/step
Epoch 59/5000

Epoch 00059: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1597.3059 - mae: 28.6558 - val_loss: 1534.9576 - val_mae: 29.8008 - lr: 7.0000e-04 - 4s/epoch - 1ms/step
Epoch 60/5000

Epoch 00060: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1590.5630 - mae: 28.5773 - val_loss: 5540.3301 - val_mae: 65.2436 - lr: 7.0000e-04 - 4s/epoch - 1ms/step
Epoch 61/5000

Epoch 00061: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1551.0449 - mae: 28.2470 - val_loss: 1646.8044 - val_mae: 31.1186 - lr: 7.0000e-04 - 4s/epoch - 1ms/step
Epoch 62/5000

Epoch 00062: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1562.0968 - mae: 28.3389 - val_loss: 1984.0605 - val_mae: 35.0848 - lr: 7.0000e-04 - 4s/epoch - 2ms/step
Epoch 63/5000

Epoch 00063: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1561.1523 - mae: 28.3281 - val_loss: 1730.2426 - val_mae: 32.3208 - lr: 7.0000e-04 - 4s/epoch - 1ms/step
Epoch 64/5000

Epoch 00064: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1583.2043 - mae: 28.3719 - val_loss: 1919.2212 - val_mae: 34.3839 - lr: 7.0000e-04 - 4s/epoch - 1ms/step
Epoch 65/5000

Epoch 00065: val_loss did not improve from 1342.10413
2621/2621 - 5s - loss: 1545.3466 - mae: 28.1691 - val_loss: 1863.1947 - val_mae: 33.7319 - lr: 7.0000e-04 - 5s/epoch - 2ms/step
Epoch 66/5000

Epoch 00066: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1599.6747 - mae: 28.5506 - val_loss: 1601.8926 - val_mae: 30.5851 - lr: 7.0000e-04 - 4s/epoch - 2ms/step
Epoch 67/5000

Epoch 00067: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1557.9202 - mae: 28.1628 - val_loss: 1988.4188 - val_mae: 34.8854 - lr: 7.0000e-04 - 4s/epoch - 2ms/step
Epoch 68/5000

Epoch 00068: val_loss did not improve from 1342.10413
2621/2621 - 7s - loss: 1560.0046 - mae: 28.1824 - val_loss: 2987.3660 - val_mae: 45.1363 - lr: 7.0000e-04 - 7s/epoch - 3ms/step
Epoch 69/5000

Epoch 00069: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1572.1252 - mae: 28.3928 - val_loss: 2825.1829 - val_mae: 43.5020 - lr: 7.0000e-04 - 4s/epoch - 2ms/step
Epoch 70/5000

Epoch 00070: val_loss did not improve from 1342.10413
2621/2621 - 5s - loss: 1585.8473 - mae: 28.4565 - val_loss: 2198.0667 - val_mae: 37.1450 - lr: 7.0000e-04 - 5s/epoch - 2ms/step
Epoch 71/5000

Epoch 00071: val_loss did not improve from 1342.10413
2621/2621 - 5s - loss: 1521.4967 - mae: 27.9907 - val_loss: 2241.1697 - val_mae: 37.9767 - lr: 7.0000e-04 - 5s/epoch - 2ms/step
Epoch 72/5000

Epoch 00072: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1528.5548 - mae: 27.7994 - val_loss: 1643.1895 - val_mae: 31.1161 - lr: 7.0000e-04 - 4s/epoch - 2ms/step
Epoch 73/5000

Epoch 00073: val_loss did not improve from 1342.10413
2621/2621 - 5s - loss: 1555.5526 - mae: 28.0448 - val_loss: 1982.9559 - val_mae: 34.8177 - lr: 7.0000e-04 - 5s/epoch - 2ms/step
Epoch 74/5000

Epoch 00074: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1523.0125 - mae: 27.8024 - val_loss: 2568.5217 - val_mae: 40.8404 - lr: 7.0000e-04 - 4s/epoch - 1ms/step
Epoch 75/5000

Epoch 00075: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1526.6633 - mae: 27.8045 - val_loss: 2805.2788 - val_mae: 43.1027 - lr: 7.0000e-04 - 4s/epoch - 1ms/step

Epoch 76/5000

Epoch 00076: val_loss did not improve from 1342.10413
2621/2621 - 5s - loss: 1570.7183 - mae: 28.6384 - val_loss: 2301.3669 - val_mae: 37.9591 - lr: 7.0000e-04 - 5s/epoch - 2ms/step
Epoch 77/5000

Epoch 00077: val_loss did not improve from 1342.10413

Epoch 00077: ReduceLROnPlateau reducing learning rate to 0.0004900000232737511.
2621/2621 - 4s - loss: 1529.0264 - mae: 27.8421 - val_loss: 1689.7463 - val_mae: 31.4593 - lr: 7.0000e-04 - 4s/epoch - 1ms/step
Epoch 78/5000

Epoch 00078: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1461.3535 - mae: 26.7238 - val_loss: 2116.8015 - val_mae: 36.4934 - lr: 4.9000e-04 - 4s/epoch - 1ms/step
Epoch 79/5000

Epoch 00079: val_loss did not improve from 1342.10413
2621/2621 - 3s - loss: 1450.0569 - mae: 27.1911 - val_loss: 2813.3062 - val_mae: 43.0978 - lr: 4.9000e-04 - 3s/epoch - 1ms/step
Epoch 80/5000

Epoch 00080: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1459.6571 - mae: 27.1781 - val_loss: 1636.5789 - val_mae: 30.9191 - lr: 4.9000e-04 - 4s/epoch - 1ms/step
Epoch 81/5000

Epoch 00081: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1472.9120 - mae: 27.3403 - val_loss: 4325.4990 - val_mae: 56.6090 - lr: 4.9000e-04 - 4s/epoch - 1ms/step
Epoch 82/5000

Epoch 00082: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1473.5914 - mae: 27.5662 - val_loss: 2906.9575 - val_mae: 44.6131 - lr: 4.9000e-04 - 4s/epoch - 2ms/step
Epoch 83/5000

Epoch 00083: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1454.8394 - mae: 26.6045 - val_loss: 2094.8181 - val_mae: 36.0692 - lr: 4.9000e-04 - 4s/epoch - 2ms/step
Epoch 84/5000

Epoch 00084: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1463.9321 - mae: 27.0350 - val_loss: 1679.3326 - val_mae: 31.4729 - lr: 4.9000e-04 - 4s/epoch - 2ms/step
Epoch 85/5000

Epoch 00085: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1465.6665 - mae: 26.9422 - val_loss: 1754.8716 - val_mae: 32.2475 - lr: 4.9000e-04 - 4s/epoch - 2ms/step
Epoch 86/5000

Epoch 00086: val_loss did not improve from 1342.10413
2621/2621 - 6s - loss: 1443.9829 - mae: 26.8709 - val_loss: 1940.1504 - val_mae: 34.4278 - lr: 4.9000e-04 - 6s/epoch - 2ms/step
Epoch 87/5000

Epoch 00087: val_loss did not improve from 1342.10413
2621/2621 - 4s - loss: 1447.5481 - mae: 26.9537 - val_loss: 2101.4331 - val_mae: 36.3652 - lr: 4.9000e-04 - 4s/epoch - 1ms/step

In [66]:
model =load_model('best_weights_DNN_Lawnton.h5')
model.summary()
model_new = Model(inputs=model.input,outputs=model.get_layer('dense_7').output)
y_test=np.array(y_test).flatten()
Y_pred_DNN_TEST=model_new.predict(X_test).flatten()
PIALL_DNN=PIALL.PI(y_test,Y_pred_DNN_TEST)
PIALL_DNN

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 320)               9280

 dense_1 (Dense)             (None, 200)               64200

 dense_2 (Dense)             (None, 180)               36180

 dense_3 (Dense)             (None, 80)                14480

 dense_4 (Dense)             (None, 60)                4860

 dense_5 (Dense)             (None, 40)                2440

 dense_6 (Dense)             (None, 30)                1230

 dense_7 (Dense)             (None, 1)                 31

=================================================================
Total params: 132,701
Trainable params: 132,701
Non-trainable params: 0
_________________________________________________________________

,R2,WI,LM,NS,KGE,RMSE,RRMSE,MAE,RMAE,APB,MAPE
0,0.856649,0.959752,0.59665,0.828795,0.881112,38.412222,6.391347,29.845408,4.961337,4.965929,0.049651

In [68]:
os.chdir("C:\\Users\\SUJANPC\\Documents\\Energies\\EP2")
TEST=pd.DataFrame([Y_pred_CTB_TEST,Y_pred_ADBR_TEST,Y_pred_RFR_TEST,
                         Y_pred_KNNR_TEST,Y_pred_MLP_TEST,Y_pred_ETR_TEST,
                        Y_pred_LGB_TEST,Y_pred_XGB_TEST,Y_pred_SVR_TEST,Y_pred_KRR_TEST,Y_pred_DNN_TEST,y_test]).T
TEST.columns=['CTB','ADBR','RFR','KNNR','MLP','ETR','LGB','XGB','SVR','KRR','DNN','YTEST']
writer = pd.ExcelWriter('EP2_LAwnton_REG.xlsx.xlsx', engine='xlsxwriter')
TEST.to_excel(writer, sheet_name='TEST_Result')
writer.save()